
*.properties

*.lock

*.bin

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/libraries/appcompat_v7_22_1_1.xml

.idea/libraries/support_annotations_22_1_1.xml

.idea/libraries/support_v4_22_1_1.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

*.iml

*.gradle

*.pro

app/src/main/res/values/dimens.xml

app/src/main/res/values-w820dp/dimens.xml

gradlew

*.bat

*.jar

build/intermediates/dex-cache/cache.xml
